In [1]:
from sqlalchemy import create_engine, MetaData
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base
from flask import Flask,render_template,jsonify

In [2]:
from flask import Flask,render_template,jsonify
import pandas as pd
import sqlite3
import os
import numpy as np

from flask_sqlalchemy import SQLAlchemy
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy import create_engine, MetaData
import os
from sqlalchemy.orm import Session
from orderedset import OrderedSet

from sqlalchemy import create_engine, MetaData
from sqlalchemy import Column, Integer, String, Float
from sqlalchemy.orm import Session
from sqlalchemy.ext.automap import automap_base
from flask import Flask,render_template,jsonify

In [3]:
Base = automap_base()

In [4]:
# Create Database Connection
engine = create_engine('sqlite:///db/GDPNew.db')

In [5]:
Base.prepare(engine, reflect=True)
Gdp = Base.classes.GDP

In [6]:
session = Session(engine)

In [7]:
metadata = MetaData()
metadata.reflect(engine)
metadata.tables.keys()

dict_keys(['GDP'])

In [8]:
first_row = session.query(Gdp).filter(Gdp.GeoName == 'Alabama').all()

In [9]:
results = session.query(Gdp.GeoName, Gdp.IndustryId, Gdp.Y1997, Gdp.Y1998, Gdp.Y1999, Gdp.Y2000, Gdp.Y2001, Gdp.Y2002, Gdp.Y2003, Gdp.Y2004, Gdp.Y2005, Gdp.Y2006, Gdp.Y2007, Gdp.Y2008, Gdp.Y2009, Gdp.Y2010, Gdp.Y2011, Gdp.Y2012, Gdp.Y2013, Gdp.Y2014, Gdp.Y2015, Gdp.Y2016, Gdp.Y2017).filter(Gdp.IndustryId == 1).all()

In [10]:
state = [row[0] for row in results]
industry_id = [row[1] for row in results]
Y1997 = [row[2] for row in results]
Y1998 = [row[3] for row in results]
Y1999 = [row[4] for row in results]
Y2000 = [row[5] for row in results]
Y2001 = [row[6] for row in results]
Y2002 = [row[7] for row in results]
Y2003 = [row[8] for row in results]
Y2004 = [row[9] for row in results]
Y2005 = [row[10] for row in results]
Y2006 = [row[11] for row in results]
Y2007 = [row[12] for row in results]
Y2008 = [row[13] for row in results]
Y2009 = [row[14] for row in results]
Y2010 = [row[15] for row in results]
Y2011 = [row[16] for row in results]
Y2012 = [row[17] for row in results]
Y2013 = [row[18] for row in results]
Y2014 = [row[19] for row in results]
Y2015 = [row[20] for row in results]
Y2016 = [row[21] for row in results]
Y2017 = [row[22] for row in results]

In [11]:
jsonify([state, industry_id, Y1997, Y1998, Y1999, Y2000, Y2001, Y2002, Y2003, Y2004, Y2005, Y2006,
        Y2007, Y2008, Y2009, Y2010, Y2011, Y2012, Y2013, Y2014, Y2015, Y2016, Y2017])

RuntimeError: Working outside of application context.

This typically means that you attempted to use functionality that needed
to interface with the current application object in some way. To solve
this, set up an application context with app.app_context().  See the
documentation for more information.

In [12]:
results = session.query(Gdp.GeoName)

results

In [13]:
results

In [14]:
import sqlite3

In [15]:
conn = sqlite3.connect('db/GDPNew.db')

In [16]:
conn.row_factory = sqlite3.Row
c = conn.cursor()
c.execute('select * from GDP')

result = c.fetchall()

In [17]:
result = [dict(row) for row in c.fetchall()]

In [18]:
print(result)

[]

In [19]:
import json
# get this object
from flask import Response

In [20]:
import sqlite3
 
def dict_factory(cursor, row):
    d = {}
    for idx, col in enumerate(cursor.description):
        d[col[0]] = row[idx]
    return d
 
connection = sqlite3.connect("db/GDPNew.db")
connection.row_factory = dict_factory
 
cursor = connection.cursor()
 
cursor.execute("select Y2000, IndustryId, Description from GDP where GeoName == 'Georgia'")
 
# fetch all or one we'll go for all.
 
resultss = cursor.fetchall()
 
print(results)

SELECT "GDP"."GeoName" AS "GDP_GeoName"
FROM "GDP"

In [21]:
[item for item in results if item["GeoName"] == "Alabama"]

TypeError: tuple indices must be integers or slices, not str

In [22]:
import sqlite3
 
def dict_factory(cursor, row):
    d = {}
    for idx, col in enumerate(cursor.description):
        d[col[0]] = row[idx]
    return d


connection = sqlite3.connect("db/GDPNew.db")
connection.row_factory = dict_factory
 
cursor = connection.cursor()

state = 'Alabama'
industryID = 6

query = f"select Y2008, IndustryId from GDP where GeoName = '{state}'"

cursor.execute(query)
 
# fetch all or one we'll go for all.
 
results = cursor.fetchall()
 
print(results)

[{'Y2008': 172686.8, 'IndustryId': 1}, {'Y2008': 143302.2, 'IndustryId': 2}, {'Y2008': 1894.9, 'IndustryId': 3}, {'Y2008': 1389.9, 'IndustryId': 4}, {'Y2008': 505.0, 'IndustryId': 5}, {'Y2008': 3849.0, 'IndustryId': 6}, {'Y2008': 2132.7, 'IndustryId': 7}, {'Y2008': 1589.2, 'IndustryId': 8}, {'Y2008': 127.1, 'IndustryId': 9}, {'Y2008': 4719.4, 'IndustryId': 10}, {'Y2008': 8367.9, 'IndustryId': 11}, {'Y2008': 29004.3, 'IndustryId': 12}, {'Y2008': 18566.1, 'IndustryId': 13}, {'Y2008': 792.0, 'IndustryId': 14}, {'Y2008': 827.9, 'IndustryId': 15}, {'Y2008': 4753.8, 'IndustryId': 16}, {'Y2008': 2452.6, 'IndustryId': 17}, {'Y2008': 1055.2, 'IndustryId': 18}, {'Y2008': 1174.6, 'IndustryId': 19}, {'Y2008': 636.4, 'IndustryId': 20}, {'Y2008': 3181.1, 'IndustryId': 21}, {'Y2008': 2516.2, 'IndustryId': 22}, {'Y2008': 679.4, 'IndustryId': 23}, {'Y2008': 496.9, 'IndustryId': 24}, {'Y2008': 10438.2, 'IndustryId': 25}, {'Y2008': 2107.5, 'IndustryId': 26}, {'Y2008': 650.8, 'IndustryId': 27}, {'Y2008': 410.6, 'IndustryId': 28}, {'Y2008': 2618.6, 'IndustryId': 29}, {'Y2008': 272.1, 'IndustryId': 30}, {'Y2008': 1084.7, 'IndustryId': 31}, {'Y2008': 2336.7, 'IndustryId': 32}, {'Y2008': 957.1, 'IndustryId': 33}, {'Y2008': 10379.3, 'IndustryId': 34}, {'Y2008': 12139.8, 'IndustryId': 35}, {'Y2008': 4776.3, 'IndustryId': 36}, {'Y2008': 123.6, 'IndustryId': 37}, {'Y2008': 628.1, 'IndustryId': 38}, {'Y2008': 393.2, 'IndustryId': 39}, {'Y2008': 2015.0, 'IndustryId': 40}, {'Y2008': 92.8, 'IndustryId': 41}, {'Y2008': 148.1, 'IndustryId': 42}, {'Y2008': 912.8, 'IndustryId': 43}, {'Y2008': 462.8, 'IndustryId': 44}, {'Y2008': 5053.2, 'IndustryId': 45}, {'Y2008': 1143.2, 'IndustryId': 46}, {'Y2008': 91.9, 'IndustryId': 47}, {'Y2008': 3536.0, 'IndustryId': 48}, {'Y2008': 282.1, 'IndustryId': 49}, {'Y2008': 25197.2, 'IndustryId': 50}, {'Y2008': 7891.3, 'IndustryId': 51}, {'Y2008': 4187.2, 'IndustryId': 52}, {'Y2008': 280.1, 'IndustryId': 53}, {'Y2008': 3321.2, 'IndustryId': 54}, {'Y2008': 102.8, 'IndustryId': 55}, {'Y2008': 17305.9, 'IndustryId': 56}, {'Y2008': 15315.9, 'IndustryId': 57}, {'Y2008': 1990.0, 'IndustryId': 58}, {'Y2008': 16213.2, 'IndustryId': 59}, {'Y2008': 10544.3, 'IndustryId': 60}, {'Y2008': 2215.0, 'IndustryId': 61}, {'Y2008': 2098.8, 'IndustryId': 62}, {'Y2008': 6230.5, 'IndustryId': 63}, {'Y2008': 1408.3, 'IndustryId': 64}, {'Y2008': 4260.6, 'IndustryId': 65}, {'Y2008': 3868.6, 'IndustryId': 66}, {'Y2008': 392.0, 'IndustryId': 67}, {'Y2008': 12627.6, 'IndustryId': 68}, {'Y2008': 942.7, 'IndustryId': 69}, {'Y2008': 11684.9, 'IndustryId': 70}, {'Y2008': 6863.3, 'IndustryId': 71}, {'Y2008': 2846.3, 'IndustryId': 72}, {'Y2008': 1319.1, 'IndustryId': 73}, {'Y2008': 656.2, 'IndustryId': 74}, {'Y2008': 4518.2, 'IndustryId': 75}, {'Y2008': 596.4, 'IndustryId': 76}, {'Y2008': 225.3, 'IndustryId': 77}, {'Y2008': 371.2, 'IndustryId': 78}, {'Y2008': 3921.7, 'IndustryId': 79}, {'Y2008': 658.4, 'IndustryId': 80}, {'Y2008': 3263.3, 'IndustryId': 81}, {'Y2008': 4561.9, 'IndustryId': 82}, {'Y2008': 29384.7, 'IndustryId': 83}, {'Y2008': 6660.1, 'IndustryId': 84}, {'Y2008': 3864.1, 'IndustryId': 85}, {'Y2008': 18860.5, 'IndustryId': 86}, {'Y2008': 5744.0, 'IndustryId': 87}, {'Y2008': 22519.1, 'IndustryId': 88}, {'Y2008': 9495.7, 'IndustryId': 89}, {'Y2008': 43116.2, 'IndustryId': 90}, {'Y2008': 100185.9, 'IndustryId': 91}]

In [36]:
import sqlite3
 
def dict_factory(cursor, row):
    d = {}
    for idx, col in enumerate(cursor.description):
        d[col[0]] = row[idx]
    return d


connection = sqlite3.connect("db/GDPNew.db")
connection.row_factory = dict_factory
 
cursor = connection.cursor()

state = 'Alabama'
industryId = 6

query = f"select * from GDP where GeoName == '{state}' and IndustryId == '{industryId}'"

cursor.execute(query)
 
# fetch all or one we'll go for all.
 
results = cursor.fetchall()
 
print(results)

[{'GeoName': 'Alabama', 'Region': '5', 'IndustryId': 6, 'Description': '  Mining, quarrying, and oil and gas extraction', 'Y1997': 1284.6, 'Y1998': 1315.2, 'Y1999': 1182.9, 'Y2000': 1266.4, 'Y2001': 1379.7, 'Y2002': 1207.9, 'Y2003': 1588.2, 'Y2004': 1960.5, 'Y2005': 2747.0, 'Y2006': 2895.3, 'Y2007': 3432.0, 'Y2008': 3849.0, 'Y2009': 2819.8, 'Y2010': 3034.5, 'Y2011': 2949.5, 'Y2012': 2891.8, 'Y2013': 2760.6, 'Y2014': 2524.9, 'Y2015': 2417.1, 'Y2016': 1724.9, 'Y2017': 2783.9}]

In [23]:
query = "select Y2008, IndustryId from GDP where GeoName == 'f{state}'"

In [24]:
print(query)

select Y2008, IndustryId from GDP where GeoName == 'f{state}'

In [25]:
states = session.query(Gdp.GeoName).distinct()

In [26]:
states

In [27]:
list(states)

[('Alabama'),
 ('Alaska'),
 ('Arizona'),
 ('Arkansas'),
 ('California'),
 ('Colorado'),
 ('Connecticut'),
 ('Delaware'),
 ('District of Columbia'),
 ('Far West'),
 ('Florida'),
 ('GeoName'),
 ('Georgia'),
 ('Great Lakes'),
 ('Hawaii'),
 ('Idaho'),
 ('Illinois'),
 ('Indiana'),
 ('Iowa'),
 ('Kansas'),
 ('Kentucky'),
 ('Louisiana'),
 ('Maine'),
 ('Maryland'),
 ('Massachusetts'),
 ('Michigan'),
 ('Mideast'),
 ('Minnesota'),
 ('Mississippi'),
 ('Missouri'),
 ('Montana'),
 ('Nebraska'),
 ('Nevada'),
 ('New England'),
 ('New Hampshire'),
 ('New Jersey'),
 ('New Mexico'),
 ('New York'),
 ('North Carolina'),
 ('North Dakota'),
 ('Ohio'),
 ('Oklahoma'),
 ('Oregon'),
 ('Pennsylvania'),
 ('Plains'),
 ('Rhode Island'),
 ('Rocky Mountain'),
 ('South Carolina'),
 ('South Dakota'),
 ('Southeast'),
 ('Southwest'),
 ('Tennessee'),
 ('Texas'),
 ('United States *'),
 ('Utah'),
 ('Vermont'),
 ('Virginia'),
 ('Washington'),
 ('West Virginia'),
 ('Wisconsin'),
 ('Wyoming')]

In [28]:
app = Flask(__name__)
app.config["SQLALCHEMY_DATABASE_URI"] = "sqlite:///db/GDPNew.db"
db = SQLAlchemy(app)

/Users/deniscohen/anaconda3/lib/python3.7/site-packages/flask_sqlalchemy/__init__.py:835: FSADeprecationWarning: SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and will be disabled by default in the future.  Set it to True or False to suppress this warning.
  'SQLALCHEMY_TRACK_MODIFICATIONS adds significant overhead and '

In [29]:
stmt = db.session.query(Gdp).statement
df = pd.read_sql_query(stmt, db.session.bind)

In [30]:
df.GeoName.unique()

array(['GeoName', 'United States *', 'Alabama', 'Alaska', 'Arizona',
       'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware',
       'District of Columbia', 'Florida', 'Georgia', 'Hawaii', 'Idaho',
       'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana',
       'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota',
       'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'New England', 'Mideast',
       'Great Lakes', 'Plains', 'Southeast', 'Southwest',
       'Rocky Mountain', 'Far West'], dtype=object)

In [31]:
df =

SyntaxError: invalid syntax (<ipython-input-31-02671123186c>, line 1)

In [32]:
df.loc[:,["Y2000", "IndustryId"]]

            Y2000  IndustryId
0           Y2000  IndustryId
1     1.02523e+07           1
2     8.92932e+06           2
3         98311.7           3
4           76043           4
5         22268.7           5
6          110581           6
7         68240.3           7
8         28514.3           8
9         13826.7           9
10         180122          10
11         461341          11
12    1.55019e+06          12
13         924786          13
14        28307.3          14
15          42620          15
16        47035.7          16
17         121304          17
18         113079          18
19         225380          19
20        45669.9          20
21         137534          21
22        71111.7          22
23        33519.1          23
24        59225.3          24
25         625409          25
26         163231          26
27        27984.3          27
28        22155.9          28
29        62189.7          29
...           ...         ...
5435      27492.3          62
5436      86325.7          63
5437      38766.5          64
5438      51342.1          65
5439      46144.4          66
5440       5197.7          67
5441       102492          68
5442      12642.1          69
5443      89850.4          70
5444        47772          71
5445      24681.3          72
5446       8435.9          73
5447       8961.2          74
5448      88154.5          75
5449      24305.4          76
5450      14346.2          77
5451       9959.2          78
5452      63849.1          79
5453      26086.7          80
5454      37762.4          81
5455      51926.1          82
5456       234423          83
5457      40115.1          84
5458      24899.6          85
5459       169408          86
5460      38967.1          87
5461       234863          88
5462      77313.9          89
5463       387331          90
5464   1.2448e+06          91

[5465 rows x 2 columns]